


{{range .}}

Dear {{ .Company_name}}

in in response to your request number {{ .Request_id}}.
we want  to inform you that the Driver is not availble 
  We are working to provide solution ... {{ .Comment}} 

{{end}}
