{{range .}}
Dear {{ .Driver_full_name }}   
 we are sorry to inform you that the request number {{ .Request_id }} attached to the Driver {{ .Passanger_name}} 
will be late for , contact number {{ .Driverphone_number }}
{{end}}


  

  


