

{{range .}}

Dear {{ .Driver_full_name}}  

your  request number {{ .Request_id }} is cancelled.
we want {{ .Modification_text}} to inform you that the Driver is not availble {{ .Comment}}
 

{{end}}