


{{range .}}
   
 Dear  {{ .Driver_full_name }}    
 Yuso team inform you that your ride number {{ .Request_id }}, from {{ .Departure_addr }} to {{ .Arrival_addr }} 
  attached to the driver {{ .Driver_full_name}}  is accepted
  to get more data contact us 
 

{{end}}





