{{/* {{range .}}

Dear {{ .Passanger_name}} */}}

in in response to your request number .
we want  to inform you that the Driver is not availble 
  We are working to provide solution ...  

{{/* {{end}} */}}
