



{{range .}}

Dear {{ .Passanger_name}}


we want  to inform you that the Driver {{ .Driver_full_name}} is not in way
We are working on your demand number {{ .Request_id}}
to get more data contact us  {{ .Driverphone_number}}

{{end}}

