

{{range .}}
   
 Dear {{ .Passanger_name }} 
 we are sorry to inform you that the request number {{ .Request_id }} attached to {{ .Driver_full_name}}    
will be late for ...., we are working to handle this delay as soon as possible 

{{end}}